<div>
    <div class="row">
        <h2 class="text-center alert-success">Your account has been successfully created</h2>
        <div class="panel-heading">            
            <div class="h3 alert-danger">You have to activate your account with the following steps</div>
            <ol>
                <li class="h4 alert-warning">You will receive an email with an url</li>
                <li class="h4 alert-warning">Click on the url and your account will be activated automatically</li>
                <li class="h4 alert-warning">Use your account to login</li>
            </ol>
        </div>
    </div>
</div>