.DS_Store
.nodemonignore
.sass-cache/
.bowerrc
.bower-*/
.idea/
node_modules/
public/system/lib
mean.iml
test/coverage/
modules/public/
modules/views/
/public/build/
MongoDB/log/
MongoDB/data/
MongoDB/mongod.conf
